spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      pool-name: "GhostRunnerPool"
      register-mbeans: true
      maximum-pool-size: 10
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  data:
    redis:
      host: ${REDIS_ENDPOINT}
      port: 6379
      ssl:
        enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        default_batch_fetch_size: 100
    show-sql: false

logging:
  level:
    root: info
    org.hibernate.SQL: off
    org.springframework.web: warn
    io.sentry: warn

cloud:
  aws:
    region:
      static: ap-northeast-2
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    stack:
      auto: false
    sqs:
      push-queue-name: ${AWS_PUSH_QUEUE_NAME}
      push-dlq-name: ${AWS_PUSH_DLQ_NAME}

s3:
  bucket: ${AWS_BUCKET}
  running-directory: ${RUNNING_DIRECTORY}
  course-directory: ${COURSE_DIRECTORY}
  member-directory: ${MEMBER_DIRECTORY}
  notice-directory: ${NOTICE_DIRECTORY}

jwt:
  secret: ${JWT_SECRET_KEY}
  expiration_time:
    access_token: 600000
    refresh_token: 1209600000

sentry:
  dsn: ${SENTRY_DSN}
  environment: prod
  traces-sample-rate: 1.0

management:
  endpoints:
    web:
      exposure:
        include: "prometheus,health,metrics"
  metrics:
    enable:
      hikaricp: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
        hikaricp.connections.acquire: true
        hikaricp.connections.usage: true
        hikaricp.connections.creation: true

openai:
  api:
    key: ${OPENAI_API_KEY}

discord:
  webhook:
    url: ${DISCORD_WEBHOOK_URL}
